Chen, Joy | May 2019 | Stat 418

# International Airfare Pricing and FX Arbitrage

### Description
An analysis of international airfare prices from the U.S. to various destinations Europe. Data is collected via webscraping using BeautifulSoup. Data and analysis will be used to construct predictive logistic model that will assist with airfare purchasing decisions.

### Acknowledgements
Courtesy of Norwegian Airlines

***
### Setup: Load Packages

In [106]:
import requests
from bs4 import BeautifulSoup

import urllib.parse
from urllib.parse import urlparse

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
from collections import OrderedDict

import time
import datetime
import pytz
import re

***

### Setting Airports, Currency and Date Options
Prior to extracting data, let's define our date range for flights as well as airports and currencies we are interested in  

##### AIRPORTS
**US**: Los Angeles (LAX) | Oakland (OAK) | New York-JFK (JFK)  
**EU**: Copenhagen (CPH) | Stockholm, Sweden (ARN) | Paris (CDG) | London-Gatwick (LGW) | Barcelona (BCN)

In [107]:
# Create lists of origin and destination airports
orig_port = ['LAX','OAK','JFK']
dest_port = ['CPH','ARN','CDG','LGW','BCN']

# Create lists of all possible flight itinerary combinations
orig_port_seq = list(np.repeat(orig_port,len(dest_port)))
dest_port_seq = dest_port * len(orig_port)

##### CURRENCIES

US Dollar (USD), Euro (EUR), Great Britian Pound (GBP), Swedish Krona (SEK)

In order to get value of currency, we must access website on different domains  
i.e. USD = US website, EUR = French website, GBP = UK website, SEK = Swedish website

In [108]:
# Define currencies
curr = {'USD': 'us', 'GBP': 'uk', 'EUR': 'fr', 'SEK': 'se'}

# NOTE: We will use the US website as our base to extract flight info
usd_index = list(curr).index('USD')

##### DATES & TIMES

In [109]:
# Specify time right now
today_date = datetime.datetime.now(pytz.timezone('US/Pacific'))

# Specify time period to retrieve flight prices over (days)
time_frame = 1

# Create list of dates beginning from now
dates = pd.date_range(today_date.strftime('%Y-%m-%d'), periods = time_frame).tolist()

***

### Extract Data: Run Webscraper

In [110]:
# CREATE MASTER DATAFRAME OBJECT
tix_data = pd.DataFrame()        


#-------------------------------

# RUN SCRAPER

for n in range(0, len(orig_port_seq),1):   # to run scraper through all airport combinations
    print(orig_port_seq[n], 'to', dest_port_seq[n])
    
    for x in range(0,len(dates),1):        # ...to run each airport pair through all dates
        
        print(dates[x].strftime('%Y-%m-%d'))
        print('Retreiving...')
        
        #--------------------------
        # [1] CREATE URLS, REQUEST HTMLS, CREATE SOUP
        
        url = []
        tix_raw = []
        tix_soup = []
        
        for i in range(0, len(curr), 1):
            
            # 1.1 Create multiple urls corresponding to different currencies desired
            url.append(
                str('https://www.norwegian.com/%s/ipc/availability/avaday?A_City=%s&TripType=1&D_City=%s&D_Month=%s%s&D_Day=%s'
                    % (list(curr.values())[i],
                       dest_port_seq[n], orig_port_seq[n], 
                       dates[x].strftime('%Y'),dates[x].strftime("%m"),dates[x].strftime("%d"))
                   )
            )
            
            # SLEEP REQUESTS
            print('Sleeping...')
            time.sleep(5)
            
            # 1.2 Request pages
            print('Requesting: ', list(curr.keys())[i], dates[0].strftime("%Y-%m-%d"))
            tix_raw.append(requests.get(url[i]).text)
            
            # 1.3 Turn into soup
            tix_soup.append(BeautifulSoup(tix_raw[i], 'html.parser'))
            print('Parsed to soup!')
            
        #--------------------------
        # [2] EXTRACT RELEVANT FIELDS
        # NOTE: Norwegian has two different site structures, any code with tag <ADDRESSING STRUC CHANGE> refers to this
                
        #-----
        
        # 2.1 Total Number of Daily Flights
        # This is calculated by how many flight duration values are present (1:1 mapping)
        duration_all = [i.text for i in tix_soup[usd_index].find_all('td', class_="duration")]
        
        remove = ['Direct','stop']
        duration_filtered = [i for i in duration_all if not any(word in i.split(' ') for word in remove)]
        duration = [i.split(': ', 1)[1] for i in duration_filtered]
        
        total_num_flights = len(duration)
             
        #-----
            
        # <ADDRESSING STRUC CHANGE> 
        # If site structure is different, alternative stop info is extracted using this 
        stops_alt = [i for i in duration_all if any(word in i.split(' ') for word in remove)]
        
        #-----
        
        # 2.2 Other Fields Based on Flight Availability
        # Addresses situation where there are no flights
        if total_num_flights == 0:
            print('No flights on', dates[x].strftime('%Y-%m-%d'))
            continue
            
        else:

            # 2.2.1 Dates / Times
            now = datetime.datetime.now(pytz.timezone('US/Pacific'))
            data_extract_time = [now.strftime('%y-%m-%d %H:%M:%S')] * total_num_flights
            depart_date_comb = [dates[x].strftime('%Y-%m-%d')] * total_num_flights
            
            
            # 2.2.2 Airport Orig / Dest
            orig_port_code = [orig_port_seq[n]] * total_num_flights
            dest_port_code = [dest_port_seq[n]] * total_num_flights
            
            
            # <ATTACH VARIABLES TO DATA FRAME>
            tix_tempdata = pd.concat([pd.Series(data_extract_time, name = "data_extract_time"), 
                                      pd.Series(orig_port_code, name = 'orig_port_code'),
                                      pd.Series(dest_port_code, name = 'dest_port_code'),
                                      pd.Series(depart_date_comb, name = 'depart_date')
                                     ],
                                     axis = 1)
            
            #-----
            
            # 2.2.3 Departure Info
            depart_info = [i.text for i in tix_soup[usd_index].find_all('td', class_="depdest")]
            
            if len(stops_alt) > 0:
                depart_time = depart_info[0::2]
            else:
                depart_time = depart_info[0::3]
            
            
            # 2.2.3 Arrival Info
            arrive_info = [i.text for i in tix_soup[usd_index].find_all('td', class_="arrdest")]
            arrive_time = arrive_info[0::2]
            
            
            # <ATTACH VARIABLES TO DATA FRAME>
            tix_tempdata = pd.concat([tix_tempdata, 
                                      pd.Series(depart_time, name = 'depart_time'), 
                                      pd.Series(arrive_time, name = 'arrive_time')
                                     ], 
                                     axis = 1)
            
            #-----
            
            # 2.2.4 Flight Durations
            # NOTE: duration was extracted earlier
            duration_hrs = [i.split(' ', 1)[0] for i in duration]
            duration_hrs = [float(i.split('h', 1)[0]) for i in duration_hrs]
            
            duration_min = [i.split(' ', 1)[1] for i in duration]
            duration_min = [float(i.split('m', 1)[0]) for i in duration_min]
            
            duration_total_min = np.add([x*60 for x in duration_hrs], duration_min)
            
            
            # <ATTACH VARIABLES TO DATA FRAME>
            tix_tempdata = pd.concat([tix_tempdata, 
                                      pd.Series(duration_hrs, name = 'duration_hrs'), 
                                      pd.Series(duration_min, name = 'duration_min'), 
                                      pd.Series(duration_total_min, name = 'duration_total_min')
                                     ], 
                                     axis = 1)
                        
            #-----
            
            # 2.2.3 Stops / Layovers
            if len(stops_alt) > 0:
                # If site structure changed use alt
                stops = stops_alt[:]
            else:    
                # Otherwise, use the usual   
                stops = depart_info[2::3]
            
            # Number of stops
            stops = [i.split(' ', 1)[0] for i in stops]
            stops = [0 if i=='Direct' else i for i in stops]
            stops = [int(i) for i in stops]
            
            # Stop details
            stops_info = [i.text for i in tix_soup[usd_index].find_all('li', class_="tooltipclick TooltipBoxTransit")] 

            stops_time_temp = [i.split(')', 1)[0] for i in stops_info]
            stops_time_temp = [i.split('(', 1)[1] for i in stops_time_temp]
            stops_loc_temp = [i.split('in ', 1)[1] for i in stops_info]
            
            # Clean up to account for flights without stops
            stops_time = []
            stops_loc = []

            for i in range(0, len(stops), 1):
                if stops[i] == 0:
                    stops_time.append(np.nan)
                    stops_loc.append(np.nan)
                else:
                    stops_time.append(stops_time_temp[0])
                    stops_time_temp.pop(0)

                    stops_loc.append(stops_loc_temp[0])
                    stops_loc_temp.pop(0)
            
            # <ATTACH VARIABLES TO DATAFRAME>
            tix_tempdata = pd.concat([tix_tempdata,
                                      pd.Series(stops, name = 'stops'), 
                                      pd.Series(stops_loc, name = 'stops_loc'), 
                                      pd.Series(stops_time, name = 'stops_time')
                                     ], 
                                     axis = 1)
            
            #-----
            
            # 2.2.4 Prices
            
            prices_all = []
            prem_avail = []
            prices_all_filtered = []
            
            
            for i in range(0, len(curr), 1):      
                # Extract soup for each currency
                prices_all.append([u.text for u in tix_soup[i].find_all('td', class_ = re.compile('.*fare.*'))])

                # Strip out any trailing or leading spaces
                prices_all[i] =[u.strip(' ') for u in prices_all[i]]
                
                # Determine if premium seats are available
                prem_avail.append(int('Premium' in prices_all[i]))
                
                # Strip out elements with words
                remove = ['','\xa0','LowFare','LowFare+','Premium','Only','Bara','Seulement']
                prices_all_filtered.append([u for u in prices_all[i] if not any(word in u.split(' ') for word in remove)])
                prices_all_filtered[i] = pd.Series(
                    [u.replace('\xa0','') for u in prices_all_filtered[i]]).replace('-', np.nan).replace('[A-Za-z]', 0, regex=True)
            
            
            # Need to do some number format editing for EUR and SEK
            prices_all_filtered[list(curr).index('EUR')] = prices_all_filtered[list(curr).index('EUR')].replace(',', '.', regex=True)
            prices_all_filtered[list(curr).index('SEK')] = prices_all_filtered[list(curr).index('SEK')].replace('[.]', '', regex=True)
            
            # Convert values to float
            prices_all_clean = [list(u.replace(',', '',regex=True).astype(float)) for u in prices_all_filtered]
            
            # Determine how many columns
            ncol = [max(prem_avail[i]*5,3) for i in prem_avail]
            
            # Create column names
            price_types = ['prices_lowfare_','prices_lowfareplus_',
               'prices_flex_','prices_prem_','prices_premflex_'] * len(curr.keys())
            
            price_curr = list(np.repeat(list(curr.keys()),len(set(price_types))))
            
            # Create labels for columns
            price_labels = [u+str(w) for u,w in zip(price_types, price_curr)]
            price_labels = [price_labels[i:i+5] for i in range(0, len(price_labels), 5)]  
            
            
            # Put prices into dataframe
            price_data = pd.DataFrame()
            
            for i in range(0, len(prices_all_clean), 1):
                
                price_data = pd.concat([price_data,
                                        pd.DataFrame(np.array(prices_all_clean[i]
                                                         ).reshape(int(len(prices_all_clean[i])/ncol[i]), ncol[i]), 
                                                     columns = price_labels[i][0:ncol[i]]
                                                    )
                                       ],
                                       axis = 1)
                
                # If the webpage structure excludes premium, we need to fill in those columns with NaN
                if prem_avail[i] == 0:
                    price_data = pd.concat([price_data,
                                            pd.Series([np.nan] * total_num_flights, name = price_labels[i][3]), 
                                            pd.Series([np.nan] * total_num_flights, name = price_labels[i][4])
                                           ],
                                           axis = 1)
                
                
            # <ATTACH VARIABLES TO DATAFRAME>    
            tix_tempdata2 = pd.concat([tix_tempdata, price_data], axis=1)
            
            #-----
    
            # 2.2.5 Flight ids   
            # Find all available flight numbers and clean up
            id_all = list(OrderedDict.fromkeys(
                [i for i in str(tix_soup[usd_index].find_all('input', class_="radio-ajax")).split("|") if i.startswith('D')])
                         )
        
            # Separate first and second leg ids (if applicable)
            id_leg1_temp = [value[:6].upper() for value in id_all]
            id_leg1_temp = list(pd.Series(id_leg1_temp).replace('', np.nan))

            id_leg2_temp = [value[12:len(value)-6].upper() for value in id_all]
            id_leg2_temp = list(pd.Series(id_leg2_temp).replace('', np.nan))
            
            id_leg1 = []
            id_leg2 = []
            
            # Create final leg id vectors taking into account any sold-out flights (no flight ids available)

            for i in range(0,total_num_flights,1):
                if sum(tix_tempdata2.iloc[i,28:32].dropna()) == 0:
                    id_leg1.append(np.nan)
                    id_leg2.append(np.nan)
                else:
                    id_leg1.append(id_leg1_temp[0])
                    id_leg1_temp.pop(0)

                    id_leg2.append(id_leg2_temp[0])
                    id_leg2_temp.pop(0)
                
                
            # Add flight ids to tempdata
            tix_tempdata2.insert(1, 'id_leg1', pd.Series(id_leg1))
            tix_tempdata2.insert(11, 'id_leg2', pd.Series(id_leg2))
        
        #--------------------------
        # [3] CONCATENATE TO MASTER
        
            tix_data = pd.concat([tix_data, tix_tempdata2])
            print('Data saved!')

LAX to CPH
2019-05-29
Retreiving...
Sleeping...
Requesting:  USD 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  GBP 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  EUR 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  SEK 2019-05-29
Parsed to soup!
Data saved!
LAX to ARN
2019-05-29
Retreiving...
Sleeping...
Requesting:  USD 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  GBP 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  EUR 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  SEK 2019-05-29
Parsed to soup!
Data saved!
LAX to CDG
2019-05-29
Retreiving...
Sleeping...
Requesting:  USD 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  GBP 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  EUR 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  SEK 2019-05-29
Parsed to soup!
Data saved!
LAX to LGW
2019-05-29
Retreiving...
Sleeping...
Requesting:  USD 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  GBP 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  EUR 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  SEK 2019-05-29
Parsed to soup!
Data saved!
LAX to BCN
2019-05-29
Retreiving...
Sleeping...
Requesting:  USD 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  GBP 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  EUR 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  SEK 2019-05-29
Parsed to soup!
Data saved!
OAK to CPH
2019-05-29
Retreiving...
Sleeping...
Requesting:  USD 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  GBP 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  EUR 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  SEK 2019-05-29
Parsed to soup!
Data saved!
OAK to ARN
2019-05-29
Retreiving...
Sleeping...
Requesting:  USD 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  GBP 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  EUR 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  SEK 2019-05-29
Parsed to soup!
Data saved!
OAK to CDG
2019-05-29
Retreiving...
Sleeping...
Requesting:  USD 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  GBP 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  EUR 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  SEK 2019-05-29
Parsed to soup!
Data saved!
OAK to LGW
2019-05-29
Retreiving...
Sleeping...
Requesting:  USD 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  GBP 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  EUR 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  SEK 2019-05-29
Parsed to soup!
Data saved!
OAK to BCN
2019-05-29
Retreiving...
Sleeping...
Requesting:  USD 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  GBP 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  EUR 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  SEK 2019-05-29
Parsed to soup!
No flights on 2019-05-29
JFK to CPH
2019-05-29
Retreiving...
Sleeping...
Requesting:  USD 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  GBP 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  EUR 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  SEK 2019-05-29
Parsed to soup!
Data saved!
JFK to ARN
2019-05-29
Retreiving...
Sleeping...
Requesting:  USD 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  GBP 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  EUR 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  SEK 2019-05-29
Parsed to soup!
Data saved!
JFK to CDG
2019-05-29
Retreiving...
Sleeping...
Requesting:  USD 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  GBP 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  EUR 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  SEK 2019-05-29
Parsed to soup!
Data saved!
JFK to LGW
2019-05-29
Retreiving...
Sleeping...
Requesting:  USD 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  GBP 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  EUR 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  SEK 2019-05-29
Parsed to soup!
Data saved!
JFK to BCN
2019-05-29
Retreiving...
Sleeping...
Requesting:  USD 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  GBP 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  EUR 2019-05-29
Parsed to soup!
Sleeping...
Requesting:  SEK 2019-05-29
Parsed to soup!
Data saved!

In [111]:
tix_data

,data_extract_time,id_leg1,orig_port_code,dest_port_code,depart_date,depart_time,arrive_time,duration_hrs,duration_min,duration_total_min,stops,id_leg2,stops_loc,stops_time,prices_lowfare_USD,prices_lowfareplus_USD,prices_flex_USD,prices_prem_USD,prices_premflex_USD,prices_lowfare_GBP,prices_lowfareplus_GBP,prices_flex_GBP,prices_prem_GBP,prices_premflex_GBP,prices_lowfare_EUR,prices_lowfareplus_EUR,prices_flex_EUR,prices_prem_EUR,prices_premflex_EUR,prices_lowfare_SEK,prices_lowfareplus_SEK,prices_flex_SEK,prices_prem_SEK,prices_premflex_SEK
0,19-05-29 13:01:02,DY7084,LAX,CPH,2019-05-29,19:40,17:05 +1,12.0,25.0,745.0,1,D83226,Oslo,1h 0m,1232.6,1322.6,1298.2,1722.6,1788.2,814.7,864.7,866.6,1106.8,1158.7,925.41,995.41,984.13,1256.37,1315.09,9936.0,10486.0,10568.0,13498.0,14130.0
1,19-05-29 13:01:02,DI7096,LAX,CPH,2019-05-29,19:30,18:15 +1,13.0,45.0,825.0,1,D82908,London,1h 35m,1254.0,1344.0,1406.0,1504.0,1656.0,904.5,954.5,1024.6,1084.5,1204.6,1116.50,1186.50,1252.61,1339.74,1475.85,12001.0,12551.0,13466.0,14404.0,15869.0
2,19-05-29 13:01:02,DY7084,LAX,CPH,2019-05-29,19:40,18:35 +1,13.0,55.0,835.0,1,DY948,Oslo,2h 30m,1232.6,1322.6,1298.2,1722.6,1788.2,814.7,864.7,866.6,1106.8,1158.7,925.41,995.41,984.13,1256.37,1315.09,9936.0,10486.0,10568.0,13498.0,14130.0
3,19-05-29 13:01:02,DY7116,LAX,CPH,2019-05-29,22:00,00:40 +2,17.0,40.0,1060.0,1,D83733,Rome,3h 20m,1185.4,1275.4,1521.0,1815.4,2151.0,946.6,996.6,1211.8,1453.0,1718.2,1023.95,1093.95,1324.48,1473.95,1774.48,11555.0,12105.0,14789.0,17732.0,20966.0
4,19-05-29 13:01:02,DI7096,LAX,CPH,2019-05-29,19:30,23:35 +1,19.0,5.0,1145.0,1,D82914,London,6h 55m,1238.8,1328.8,1406.0,1488.8,1656.0,892.5,942.5,1024.6,1072.5,1204.6,1102.89,1172.89,1252.61,1326.13,1475.85,11855.0,12405.0,13466.0,14258.0,15869.0
0,19-05-29 13:01:24,DY7084,LAX,ARN,2019-05-29,19:40,17:30 +1,12.0,50.0,770.0,1,DY4116,Oslo,1h 35m,1208.8,1298.8,1250.5,1698.8,1740.5,795.9,845.9,828.9,1088.0,1121.0,904.06,974.06,941.43,1235.02,1272.39,9531.0,10081.0,9881.0,13093.0,13443.0
1,19-05-29 13:01:24,DY7084,LAX,ARN,2019-05-29,19:40,19:00 +1,14.0,20.0,860.0,1,DY822,Oslo,3h 5m,1173.0,1263.0,1250.5,1663.0,1740.5,767.6,817.6,828.9,1059.7,1121.0,872.03,942.03,941.43,1202.99,1272.39,9231.0,9781.0,9881.0,12793.0,13443.0
2,19-05-29 13:01:24,DI7096,LAX,ARN,2019-05-29,19:30,20:20 +1,15.0,50.0,950.0,1,D82856,London,3h 10m,1256.3,1346.3,1326.3,1506.3,1576.3,906.5,956.5,961.8,1086.5,1141.8,1118.59,1188.59,1181.26,1341.83,1404.50,11889.0,12439.0,12489.0,14292.0,14892.0
3,19-05-29 13:01:24,DY7084,LAX,ARN,2019-05-29,19:40,20:30 +1,15.0,50.0,950.0,1,DY4122,Oslo,4h 35m,1173.0,1263.0,1250.5,1663.0,1740.5,767.6,817.6,828.9,1059.7,1121.0,872.03,942.03,941.43,1202.99,1272.39,9231.0,9781.0,9881.0,12793.0,13443.0
4,19-05-29 13:01:24,DY7098,LAX,ARN,2019-05-29,22:15,00:40 +2,17.0,25.0,1045.0,1,DY4314,Paris,4h 15m,1289.9,1379.9,1359.3,NaN,NaN,1027.5,1077.5,1082.4,NaN,NaN,1023.09,1093.09,1085.23,NaN,NaN,12369.0,12919.0,12969.0,NaN,NaN
5,19-05-29 13:01:24,DI7096,LAX,ARN,2019-05-29,19:30,23:15 +1,18.0,45.0,1125.0,1,D82858,London,6h 5m,1256.3,1346.3,1326.3,1506.3,1576.3,906.5,956.5,961.8,1086.5,1141.8,1118.59,1188.59,1181.26,1341.83,1404.50,11889.0,12439.0,12489.0,14292.0,14892.0
0,19-05-29 13:01:49,DY7098,LAX,CDG,2019-05-29,22:15,17:45 +1,10.0,30.0,630.0,0,NaN,NaN,NaN,NaN,NaN,1089.9,NaN,NaN,NaN,NaN,875.4,NaN,NaN,NaN,NaN,849.90,NaN,NaN,NaN,NaN,10676.0,NaN,NaN
1,19-05-29 13:01:49,DY7084,LAX,CDG,2019-05-29,19:40,20:00 +1,15.0,20.0,920.0,1,DY1498,Oslo,2h 40m,NaN,NaN,1405.6,NaN,1895.6,NaN,NaN,951.4,NaN,1243.5,NaN,NaN,1080.32,NaN,1411.28,NaN,NaN,11603.0,NaN,15165.0
0,19-05-29 13:02:12,DI7096,LAX,LGW,2019-05-29,19:30,13:50 +1,10.0,20.0,620.0,0,NaN,NaN,NaN,NaN,NaN,1099.9,NaN,1349.9,NaN,NaN,789.9,NaN,969.9,NaN,NaN,982.99,NaN,1206.23,NaN,NaN,10593.0,NaN,12996.0
1,19-05-29 13:02:12,DY7744,LAX,LGW,2019-05-29,20:00,19:05 +1,15.0,5.0,905.0,1,D86054,Madrid,2h 0m,1296.7,1386.7,1438.1,NaN,NaN,1031.2,1081.2,1141.2,NaN,NaN,1102.13,1172.13,1228.73,NaN,NaN,12580.0,13130.0,13943.0,NaN,NaN
2,19-05-29 13:02:12,DY7084,LAX,LGW,2019-05-29,19:40,20:05 +1,16.0,25.0,985.0,1,D82807,Oslo,3h 50m,NaN,NaN,1423.5,NaN,1913.5,NaN,NaN,965.6,NaN,1257.7,NaN,NaN,1096.34,NaN,1427.30,NaN,NaN,11775.0,NaN,15337.0
0,19-05-29 13:02:37,DI7096,LAX,BCN,2019-05-29,19:30,22:20 +1,17.0,50.0,1070.0,1,D85503,London,5h 30m,NaN,NaN,1405.1,NaN,1655.1,NaN,NaN,1017.8,NaN,1197.8,NaN,NaN,1250.11,NaN,1473.35,NaN,NaN,13428.0,NaN,15831.0
1,19-05-29 13:02:37,DY7084,LAX,BCN,2019-05-29,19:40,23:20 +1,18.0,40.0,1120.0,1,D85523,Oslo,5h 5m,1220.8,1290.8,1339.9,1710.8,1829.9,805.4,855.4,899.5,1097.5,1191.6,914.84,969.84,1021.50,1245.80,1352.46,9822.0,10372.0,10970.0,13384.0,14532.0
0,19-05-29 13:03:01,DY7068,OAK,CPH,2019-05-29,20:30,18:25 +1,12.0,55.0,775.0,1,D8230,Stockholm,1h 40m,829.6,919.6,1084.6,1659.6,1714.6,533.5,583.5,693.7,996.2,1039.6,605.17,675.17,786.77,1129.54,1178.75,6051.0,6601.0,7941.0,11451.0,11941.0
0,19-05-29 13:03:24,DY7068,OAK,ARN,2019-05-29,20:30,15:35 +1,10.0,5.0,605.0,0,NaN,NaN,NaN,659.9,749.9,859.9,NaN,1489.9,405.9,455.9,522.7,NaN,868.6,458.47,528.47,590.86,NaN,982.84,4599.0,5149.0,5999.0,NaN,9999.0
0,19-05-29 13:03:47,DY7068,OAK,CDG,2019-05-29,20:30,21:20 +1,15.0,50.0,950.0,1,DY4313,Stockholm,3h 0m,920.3,1010.3,1120.3,1750.3,1750.3,605.1,655.1,721.9,1067.8,1067.8,686.41,756.41,818.80,1210.78,1210.78,6831.0,7381.0,8231.0,12231.0,12231.0
0,19-05-29 13:04:10,DY7068,OAK,LGW,2019-05-29,20:30,19:15 +1,14.0,45.0,885.0,1,D82857,Stockholm,2h 5m,1207.9,1297.9,1407.9,2037.9,2037.9,832.5,882.5,949.3,1295.2,1295.2,944.01,1014.01,1076.40,1468.38,1468.38,9284.0,9834.0,10684.0,14684.0,14684.0
1,19-05-29 13:04:10,DY7068,OAK,LGW,2019-05-29,20:30,22:35 +1,18.0,5.0,1085.0,1,D82859,Stockholm,5h 25m,918.9,1008.9,1234.5,1748.9,1864.5,604.0,654.0,812.2,1066.7,1158.1,685.12,755.12,921.06,1209.49,1313.04,6784.0,7334.0,9184.0,12184.0,13184.0
0,19-05-29 13:04:57,DY7012,JFK,CPH,2019-05-29,23:30,13:05 +1,7.0,35.0,455.0,0,NaN,NaN,NaN,NaN,NaN,904.9,NaN,994.9,NaN,NaN,743.7,NaN,817.3,NaN,NaN,842.71,NaN,926.15,NaN,NaN,9069.0,NaN,9967.0
1,19-05-29 13:04:57,DI7016,JFK,CPH,2019-05-29,23:00,16:25 +1,11.0,25.0,685.0,1,D82906,London,2h 35m,538.8,628.8,1066.0,703.8,1286.0,387.5,437.5,774.6,502.5,934.6,452.72,522.72,948.98,603.68,1145.42,4860.0,5410.0,10201.0,6485.0,12315.0
2,19-05-29 13:04:57,DI7018,JFK,CPH,2019-05-29,22:25,16:25 +1,12.0,0.0,720.0,1,D82906,London,3h 10m,638.8,728.8,1066.0,1118.8,1286.0,457.5,507.5,774.6,802.5,934.6,534.17,604.17,948.98,995.70,1145.42,5737.0,6287.0,10201.0,10704.0,12315.0
3,19-05-29 13:04:57,DI7016,JFK,CPH,2019-05-29,23:00,18:15 +1,13.0,15.0,795.0,1,D82908,London,4h 25m,554.0,644.0,1066.0,719.0,1286.0,399.5,449.5,774.6,514.5,934.6,466.33,536.33,948.98,617.29,1145.42,5006.0,5556.0,10201.0,6631.0,12315.0
4,19-05-29 13:04:57,DY7704,JFK,CPH,2019-05-29,23:55,19:40 +1,13.0,45.0,825.0,1,D86112,Madrid,3h 25m,971.0,1061.0,1268.9,1271.0,1438.9,772.8,822.8,1009.9,1013.7,1146.4,822.51,892.51,1082.83,1102.51,1252.83,9420.0,9970.0,12311.0,12358.0,13976.0
5,19-05-29 13:04:57,DI7018,JFK,CPH,2019-05-29,22:25,18:15 +1,13.0,50.0,830.0,1,D82908,London,5h 0m,654.0,744.0,1066.0,1134.0,1286.0,469.5,519.5,774.6,814.5,934.6,547.78,617.78,948.98,1009.31,1145.42,5883.0,6433.0,10201.0,10850.0,12315.0
0,19-05-29 13:05:21,DI7016,JFK,ARN,2019-05-29,23:00,16:30 +1,11.0,30.0,690.0,1,D82854,London,2h 10m,672.9,762.9,1091.1,837.9,1311.1,493.7,543.7,794.6,608.7,954.6,572.83,642.83,971.47,723.79,1167.91,5894.0,6444.0,10124.0,7519.0,12238.0
1,19-05-29 13:05:21,DY7012,JFK,ARN,2019-05-29,23:30,17:05 +1,11.0,35.0,695.0,1,DY4162,Copenhagen,2h 50m,1133.7,1223.7,1179.2,1223.7,1269.2,918.0,968.0,953.9,991.6,1027.5,1042.35,1112.35,1083.02,1125.79,1166.46,11059.0,11609.0,11469.0,11957.0,12367.0
2,19-05-29 13:05:21,DI7018,JFK,ARN,2019-05-29,22:25,16:30 +1,12.0,5.0,725.0,1,D82854,London,2h 45m,772.9,862.9,1091.1,1252.9,1311.1,563.7,613.7,794.6,908.7,954.6,654.28,724.28,971.47,1115.81,1167.91,6771.0,7321.0,10124.0,11738.0,12238.0
3,19-05-29 13:05:21,DY7704,JFK,ARN,2019-05-29,23:55,18:35 +1,12.0,40.0,760.0,1,D86092,Madrid,1h 40m,1010.9,1100.9,1255.2,1310.9,1425.2,804.4,854.4,999.1,1045.3,1135.6,858.24,928.24,1070.63,1138.24,1240.63,9602.0,10152.0,11875.0,12540.0,13540.0
4,19-05-29 13:05:21,DY7012,JFK,ARN,2019-05-29,23:30,20:10 +1,14.0,40.0,880.0,1,D8231,Copenhagen,5h 55m,991.2,1081.2,1179.2,1081.2,1269.2,805.3,855.3,953.9,878.9,1027.5,914.66,984.66,1083.02,998.10,1166.46,9769.0,10319.0,11469.0,10667.0,12367.0
5,19-05-29 13:05:21,DI7016,JFK,ARN,2019-05-29,23:00,20:20 +1,15.0,20.0,920.0,1,D82856,London,6h 0m,556.3,646.3,986.3,721.3,1206.3,401.5,451.5,711.8,516.5,871.8,468.42,538.42,877.63,619.38,1074.07,4894.0,5444.0,9224.0,6519.0,11338.0
6,19-05-29 13:05:21,DI7018,JFK,ARN,2019-05-29,22:25,20:20 +1,15.0,55.0,955.0,1,D82856,London,6h 35m,656.3,746.3,986.3,1136.3,1206.3,471.5,521.5,711.8,816.5,871.8,549.87,619.87,877.63,1011.40,1074.07,5771.0,6321.0,9224.0,10738.0,11338.0
7,19-05-29 13:05:21,DI7016,JFK,ARN,2019-05-29,23:00,23:15 +1,18.0,15.0,1095.0,1,D82858,London,8h 55m,556.3,646.3,986.3,721.3,1206.3,401.5,451.5,711.8,516.5,871.8,468.42,538.42,877.63,619.38,1074.07,4894.0,5444.0,9224.0,6519.0,11338.0
0,19-05-29 13:05:45,DY7022,JFK,CDG,2019-05-29,23:15,12:20 +1,7.0,5.0,425.0,0,NaN,NaN,NaN,NaN,NaN,839.9,NaN,1109.9,NaN,NaN,675.1,NaN,891.6,NaN,NaN,649.90,NaN,869.90,NaN,NaN,8232.0,NaN,10872.0
0,19-05-29 13:06:09,DI7018,JFK,LGW,2019-05-29,22:25,10:25 +1,7.0,0.0,420.0,0,NaN,NaN,NaN,499.9,589.9,759.9,NaN,979.9,354.9,404.9,539.9,NaN,699.9,414.27,484.27,679.36,NaN,875.80,4475.0,5025.0,7328.0,NaN,9442.0
1,19-05-29 13:06:09,DI7016,JFK,LGW,2019-05-29,23:00,11:00 +1,7.0,0.0,420.0,0,NaN,NaN,NaN,399.9,489.9,759.9,564.9,979.9,284.9,334.9,539.9,399.9,699.9,332.82,402.82,679.36,483.78,875.80,3598.0,4148.0,7328.0,5223.0,9442.0
2,19-05-29 13:06:09,DY7012,JFK,LGW,2019-05-29,23:30,18:25 +1,13.0,55.0,835.0,1,D82907,Copenhagen,4h 25m,NaN,NaN,1321.0,NaN,1411.0,NaN,NaN,1066.0,NaN,1139.6,NaN,NaN,1210.06,NaN,1293.50,NaN,NaN,12999.0,NaN,13897.0
3,19-05-29 13:06:09,DY7704,JFK,LGW,2019-05-29,23:55,19:05 +1,14.0,10.0,850.0,1,D86054,Madrid,4h 35m,916.7,1006.7,1188.1,1216.7,1358.1,726.8,776.8,941.2,967.7,1077.7,772.13,842.13,1008.73,1052.13,1178.73,8866.0,9416.0,11502.0,11804.0,13167.0
4,19-05-29 13:06:09,DY7012,JFK,LGW,2019-05-29,23:30,19:55 +1,15.0,25.0,925.0,1,D82909,Copenhagen,5h 50m,NaN,NaN,1243.7,NaN,1333.7,NaN,NaN,1004.9,NaN,1078.5,NaN,NaN,1140.85,NaN,1224.29,NaN,NaN,12254.0,NaN,13152.0
0,19-05-29 13:06:32,DI7016,JFK,BCN,2019-05-29,23:00,22:20 +1,17.0,20.0,1040.0,1,D85503,London,8h 20m,769.4,869.4,1129.4,934.4,1349.4,563.5,623.5,818.5,678.5,978.5,657.49,732.49,1004.03,808.45,1200.47,7052.0,7652.0,10782.0,8677.0,12896.0
1,19-05-29 13:06:32,DI7018,JFK,BCN,2019-05-29,22:25,22:20 +1,17.0,55.0,1075.0,1,D85503,London,8h 55m,869.4,969.4,1129.4,1349.4,1349.4,633.5,693.5,818.5,978.5,978.5,738.94,813.94,1004.03,1200.47,1200.47,7929.0,8529.0,10782.0,12896.0,12896.0
2,19-05-29 13:06:32,DY7012,JFK,BCN,2019-05-29,23:30,23:25 +1,17.0,55.0,1075.0,1,D85575,Copenhagen,7h 30m,1046.4,1146.4,1392.5,1136.4,1482.5,848.9,908.9,1122.5,922.5,1196.1,964.09,1039.09,1274.12,1047.53,1357.56,10351.0,10951.0,13688.0,11249.0,14586.0